<h1><%= title %></h1>
<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error=> { %>
            <li>
                <%= error.msg %>
            </li>
            <% }) %>
    </ul>
    <% }%>

<form method="post" action="/account/register" class="loginForm">
    <div>
        <label for="fname">First Name</label>
        <input type="text" 
        id="fname" 
        name="account_firstname" 
        autocomplete="on" 
        required 
        placeholder="First Name (e.g. John)"
        value="<%= locals.account_firstname %>"
        >
    </div>
    <div>
        <label for="lname">Last Name</label>
        <input type="text" 
        id="lname" 
        name="account_lastname" 
        autocomplete="on" 
        required 
        placeholder="Last Name (e.g. Doe)"
        value="<%= locals.account_lastname %>"
        >
    </div>
    <div>
        <label for="email">Email Address</label>
        <input type="email" 
        name="account_email" 
        id="email" 
        autocomplete="on" 
        placeholder="myaddress@myISP.com"
        value="<%= locals.account_email %>"
        >
    </div>
    <div>
        <label for="password">Password</label>
        <div class="pswdMsg">Password must include at least 12 characters and have at least 1 uppercase character, 1 number and 1 special character.</div>
        <input 
        type="password" 
        id="password" 
        name="account_password"
        pattern="(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*\-]).{12,}"
        title="Password must contain at least one uppercase letter, one lowercase letter, one special character, one number, and be a minimum of 12 characters."
        placeholder="Secret Password">
        <span id="pswdBtn">Show Password</span>
        <button id="accountBtn" type="submit">Register</button>
    </div>
</form>

    
