<h1>
    <%= title %>
</h1>

 
<% if (message) { %>
  <div class="alert"><%= message %></div>
<% } %>


<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error=> { %>
            <li>
                <%= error.msg %>
            </li>
            <% }) %>
    </ul>
    <% }%>

    <div class="management">
        <h2>Welcome to the CSE Motors Delete Vehicle Inventory page</h2>
        <h2>Please confirm the information for deletion.</h2>
        <h2>Deletion is permanent and cannot be undone.</h2>
    
        <form action="/inv/delete" method="post" id="invForm" >
            <div>
                <label for="inv_make">Please enter the vehicles Manufacturer (Make).</label>
                <input type="text" 
                    id="inv_make"
                    name="inv_make"
                    placeholder="e.g. Ford, Chevy, Honda"
                    value="<%= locals.inv_make %>" 
                    required
                    readonly>
            </div>
            <div>
                <label for="inv_model">Please enter the vehicles Model</label>
                <input type="text"
                id="inv_model"
                name="inv_model"
                placeholder="e.g. F150, Tahoe, CRV"
                value="<%= locals.inv_model %>"
                required
                readonly>
            </div>
            <div>
                <label for="inv_year">Please enter the Production year (4 digits).</label>
                <input type="number"
                pattern="\d{4}"
                id="inv_year"
                name="inv_year"
                placeholder="2021 (4 Digits Please)"
                value="<%= locals.inv_year %>"
                required
                readonly>
            </div>
            <div>
                <label for="inv_price">Please enter the price of the Vehicle (numbers only).</label>
                <input type="number" 
                id="inv_price" 
                name="inv_price" 
                placeholder="e.g. 20000 (no special characters)"
                pattern="\\d{4,6}"
                value="<%= locals.inv_price %>"
                required
                readonly>
            </div>

            <div class="options"><button type="submit">Delete Vehicle</button></div>

            <input type="hidden" name="inv_id" id="inv_id"
            <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
            <% } %>>
        </form>
        </div>  
